h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5em;
  font-style: medium;
  text-align: center;
}
h5 {
  margin-top: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}
ul {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}
li{
  padding-top: 5px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center; 
}
table {
  margin-top: 6px;
  margin-left: 8px;
  /*border:1px solid black;
  border-radius: 2px;*/
  width: 200px;
  line-height: 15px;
}
img { 
  margin-top: 0px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
}
button {
  width: 100px;
  height: 90px
  border: solid black 1px;
  border-radius: 10px;
  margin-top: 320px;
}
.tableAttr {
  text-align: left;
}
.tableVal {
  text-align: right;
}
#gameContainer {
  text-align: center;
  margin-top: 100px;
}
#playerCard {
    position:relative;
  display: inline-block;
  margin-left: 0px;
  text-align: center;
  height: 400px;
  width: 250px;
  background-color: red;
  color: white;
  border: solid black 2px;
  border-radius: 10px;
}

#player ul {
  margin: 0 auto;
  padding: 0;
}

#playerCard ul li {
  width: 125px;
  display: inline-block;
}


#cpuCard {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  text-align: center;
  height: 370px;
  width: 220px;
  background-color: blue;
  color: red;
  border: solid black 2px;
  border-radius: 10px;
}

#buttonContainer {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  height: 370px;
  width: 220px;
}